* {
  margin: 0;
  padding: 0;
  color: red;
}

.box{
    width: 1200px;
    height: 200px;
    overflow: hidden;
    display: flex;
}

.content{
    display: flex;
}

.slide{
    width: 1200px;
    height: 100%;
}
